
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ bookDetails.volumeInfo.title }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <img [src]="bookDetails.volumeInfo.imageLinks.thumbnail" alt="Book cover"/>
      </div>
    </div>
    <h4>Authors:</h4>
    <ul>
      <li *ngFor="let author of bookDetails.volumeInfo.authors"> {{ author }}</li>
    </ul>
    <h4>Publisher:</h4>
    <p>{{ bookDetails.volumeInfo.publisher }}</p>
    <h4>PublishedDate:</h4>
    <p>{{ bookDetails.volumeInfo.publishedDate | date:'d-MMM-y'}}</p>
    <h4>Description:</h4>
    <p>{{ bookDetails.volumeInfo.description }}</p>
  </div>
</div>

