<div class="jumbotron">
  <div class="row">
  <h1>We can help you find your books!</h1>
  <h3>Just type the key words you're looking below</h3>
  </div>
  <div class="row">
    <div class="col-sx-12">
      <input type="text" #searchParams>
      <button type="button" 
              class="btn btn-default btn-lg"
              (click)="searchBook(searchParams.value)">
              <span class="glyphicon glyphicon-search" 
              aria-hidden="true">
              </span>
      </button>
  </div>
</div>
