<div class="jumbotron">
  <div class="row">
    <h1>We can help you find your books!</h1>
    <h3>Just type the key words you're looking below</h3>
  </div>
  <div class="row">
     <div class="col-md-6 col-md-offset-3">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for..." (keyup.enter)="searchBook(searchParams.value)" #searchParams>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="searchBook(searchParams.value)">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
